NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
NEXT_PUBLIC_PADDLE_ENVIRONMENT=sandbox
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=https://accounts.fixmyiron.com/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=https://accounts.fixmyiron.com/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/portal
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/portal

# Server-only (Pages env)
CLERK_SECRET_KEY=
